body{
    background-image: url("assets/images/background.jpg");
    background-repeat: no-repeat;
    
}
h1{
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
}
h2{
    text-align: center;
}
form{
    margin-left: auto;
    margin-top: 75px;
}
fieldset{
    width: 70%;
}

